body{
    height: 100%;
    width: 100%;
    background: #fff;
    font-size: 18px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    width: 90vw;
    max-width: 700px;
    margin: 3vh auto;
    padding: 1rem;
    text-align: center;
    border-radius: .25rem;
    box-shadow: 5px 10px 18px #888888;
    background: #b6e2ff;
}
.header{
    margin-bottom: 2rem;
    padding: 1rem 2rem;
}
.header h2{
    margin: .5rem;
    text-transform: uppercase;
    font-style: italic;
}
.inputs{
    display: flex;
}
.single-input{
    display: flex;
    flex-direction: column;
}
input, button, label{
    padding:.25rem .5rem;
    border-radius: .25rem;
    border:transparent;
    text-transform: capitalize;
    font-size: 18px;
    text-align: left;
    margin: .5rem 0.5rem 0 0;
}
input,.add-btn {
    line-height: 3rem;
}
button{
    padding: .3rem 1.1rem;
    background: #499879;
}
button:hover{
    cursor: pointer;
}
.header button{
    padding: .25rem 1rem;
    background: #499879;
    height: 50%;
    align-self: end;
}
@media only screen and (max-width: 760px) {
    .inputs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header button{
        align-self: center;
    }
}
article.expense-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.25rem;
    margin: 0.25rem;
}
.sum{
    text-align: right;
    width: 90%;
    text-transform: capitalize;
}
p{
    word-break: break-all;
    width: 30%;
    padding: .25rem .5rem;
    text-align: left;
}
.expense-text{
    text-transform: capitalize;
}
.expense-cost {
    width:20%;
}
.btn-container{
    width: 45%;
}
.btn-container button{
    padding: .25rem .5rem;
    border-radius: .25rem;
    border:transparent;
    margin-right:0.75rem;
}